<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <style>
            body {
                  margin: 0;
                  padding: 0;
                  overflow: hidden;
                  width: 100%;
                  height: 100vh;

            }

            iframe {
                  border: none;
                  width: 100%;
                  height: 100%;
            }
      </style>
      <!-- Hotjar Tracking Code for Rawapt.com -->
      <script>
            (function (h, o, t, j, a, r) {
                  h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
                  h._hjSettings = { hjid: 5099725, hjsv: 6 };
                  a = o.getElementsByTagName('head')[0];
                  r = o.createElement('script'); r.async = 1;
                  r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                  a.appendChild(r);
            })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
      </script>
</head>

<body>
      <iframe width="100%" height="100%" src="{{link.goto}}"></iframe>
</body>

</html>